BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[4]" SITE "38" ;
LOCATE COMP "cdiv0[3]" SITE "40" ;
LOCATE COMP "cdiv0[2]" SITE "39" ;
LOCATE COMP "cdiv0[1]" SITE "41" ;
LOCATE COMP "outdiv0" SITE "110" ;
LOCATE COMP "cdiv0[0]" SITE "42" ;
