BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A[7]" SITE "38" ;
LOCATE COMP "A[6]" SITE "39" ;
LOCATE COMP "A[5]" SITE "40" ;
LOCATE COMP "A[4]" SITE "41" ;
LOCATE COMP "A[3]" SITE "42" ;
LOCATE COMP "A[2]" SITE "43" ;
LOCATE COMP "A[1]" SITE "44" ;
LOCATE COMP "A[0]" SITE "45" ;
LOCATE COMP "B[7]" SITE "47" ;
LOCATE COMP "B[6]" SITE "48" ;
LOCATE COMP "B[5]" SITE "49" ;
LOCATE COMP "B[4]" SITE "50" ;
LOCATE COMP "B[3]" SITE "52" ;
LOCATE COMP "B[2]" SITE "54" ;
LOCATE COMP "B[1]" SITE "55" ;
LOCATE COMP "B[0]" SITE "56" ;
LOCATE COMP "S[2]" SITE "97" ;
LOCATE COMP "S[1]" SITE "98" ;
LOCATE COMP "S[0]" SITE "99" ;
LOCATE COMP "Y[0]" SITE "1" ;
LOCATE COMP "Y[1]" SITE "2" ;
LOCATE COMP "Y[2]" SITE "3" ;
LOCATE COMP "Y[3]" SITE "4" ;
LOCATE COMP "Y[4]" SITE "5" ;
LOCATE COMP "Y[5]" SITE "6" ;
LOCATE COMP "Y[6]" SITE "9" ;
LOCATE COMP "Y[7]" SITE "10" ;
