BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Aa[3]" SITE "38" ;
LOCATE COMP "Aa[2]" SITE "39" ;
LOCATE COMP "Aa[1]" SITE "40" ;
LOCATE COMP "Aa[0]" SITE "41" ;
LOCATE COMP "Ba[3]" SITE "42" ;
LOCATE COMP "Ba[2]" SITE "43" ;
LOCATE COMP "Ba[1]" SITE "44" ;
LOCATE COMP "Ba[0]" SITE "45" ;
LOCATE COMP "Ya[0]" SITE "110" ;
LOCATE COMP "Ya[1]" SITE "109" ;
LOCATE COMP "Ya[2]" SITE "112" ;
LOCATE COMP "Ya[3]" SITE "111" ;
LOCATE COMP "Yb[0]" SITE "1" ;
LOCATE COMP "Yb[1]" SITE "2" ;
LOCATE COMP "Yb[2]" SITE "3" ;
LOCATE COMP "Yb[3]" SITE "4" ;
