#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1498R.
#

# Period Constraints 
#FREQUENCY NET "U01/OS00/soscout0" 2.1 MHz;
#FREQUENCY PORT "reset0" 1.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
#BLOCK PATH FROM CLKNET "U01/OS00/soscout0" TO CLKNET "reset0_c";
#BLOCK PATH FROM CLKNET "reset0_c" TO CLKNET "U01/OS00/soscout0";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
