BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "a[2]" SITE "38" ;
LOCATE COMP "a[1]" SITE "39" ;
LOCATE COMP "a[0]" SITE "40" ;
LOCATE COMP "b[2]" SITE "41" ;
LOCATE COMP "b[1]" SITE "42" ;
LOCATE COMP "b[0]" SITE "43" ;
LOCATE COMP "c[2]" SITE "44" ;
LOCATE COMP "c[1]" SITE "45" ;
LOCATE COMP "c[0]" SITE "47" ;
LOCATE COMP "s[2]" SITE "48" ;
LOCATE COMP "s[1]" SITE "49" ;
LOCATE COMP "s[0]" SITE "50" ;
LOCATE COMP "salida[0]" SITE "1" ;
LOCATE COMP "salida[1]" SITE "2" ;
LOCATE COMP "salida[2]" SITE "3" ;
